.custom-background {
    height: 100%;
}

.custom-tech-info {
    padding-left: 35px;
    padding-right: 35px;
}

span.custom-badge {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    color: #757575;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    background-color: #26a69a;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    .navitem {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
    .sectiontitle {
        text-align: center;
    }
    .custom-background {
        background-size: auto;
    }
    .custom-tech-info {
        padding-left: 0;
        padding-right: 0;
    }
}